* {
    -fx-focus-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

Button {
    -fx-padding: 0;
}

/* presentation tab */

#presentationTab .tab {
    -fx-background-color: linear-gradient(#8D6E63, #6D4C41);
    -fx-border-color: #4E342E;
}

#presentationTab .tab-label {
    -fx-text-fill: white;
}

#presentationTab .tab:hover {
    -fx-background-color: #8D6E63;
}

#presentationTab .tab:pressed {
    -fx-background-color: #4E342E;
}

.menu-bar .container .menu:openvertically .label {
    -fx-text-fill: white;
}

.menu:selected {
    -fx-background-color: red;
}

MenuBar {
    -fx-background-color: linear-gradient(#4DB6AC, #009688);
    -fx-border-color: #00695C;
}

GridPane {
    -fx-background-color: linear-gradient(#4DB6AC, #009688);
    -fx-border-color: #00695C;
}

 Button:hover {
    -fx-text-fill: white;
    -fx-background-color: #00897B;
}

 Button:pressed  {
    -fx-background-color: #00695C;
}

 Button {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(#00897B, #00695C);
    -fx-border-color: #00695C;
}